{% extends 'base.html' %}
{% block title %} Domain {% end %}

{% block body %}
    <table>
        <tr>
            <th>Job Identifier</th>
            <th>URL</th>
        </tr>
        {% for job_identifier, url in sorted(rows) %}
            <tr>
                <td>
                    <a href="{{ reverse_url('job', job_identifier) }}">
                    {{ job_identifier }}
                    </a>
                </td>
                <td>{{ url or '' }}
            </tr>
        {% end %}
    </table>
{% end %}
