{% extends 'base.html' %}
{% block title %} Homepage {% end %}

{% block body %}
    <form method="get" action="{{ reverse_url('index') }}">
        <input type="search" name="q" id="form-query" value="{{ handler.get_argument('q', '') }}">
        <input type="submit" value="Search">
    </form>
    {% if search_results %}
        {% for result_type, result_key in search_results %}
            <a href="{{ reverse_url(result_type, result_key) }}">{{ result_key }}</a>
            <br>
        {% end %}
        <br>
    {% end %}
    {% if handler.get_argument('q', None) and not search_results %}
    <p><em>No search results.</em></p>
    {% end %}

    <a href="{{ reverse_url('items') }}">Items</a><br>
    <a href="{{ reverse_url('jobs', '') }}">Jobs</a><br>
    <a href="{{ reverse_url('domains', '') }}">Domains</a><br>
    <a href="{{ reverse_url('audit') }}">Audit</a><br>
    <a href="{{ reverse_url('stats') }}">Stats</a><br>
{% end %}
