{% extends 'base.html' %}
{% block title %} Homepage {% end %}

{% block body %}
    <p>Browse an index of the archives.</p>
    <form method="get" action="{{ reverse_url('index') }}">
        <input type="search" name="q" id="form-query" value="{{ handler.get_argument('q', '') }}">
        <input type="submit" value="Search">
    </form>
    {% if search_results %}
        {% for result_type, job_id, domain, url in search_results %}
            {% if result_type == "domain" %}
                 <a href="{{ reverse_url('domain', url_escape(domain, plus=False)) }}">{{ domain }}</a>
                 <i>{{ url or '' }}</i>
             {% else %}
                 <a href="{{ reverse_url('job', job_id) }}">{{ job_id }}</a>
                 <i>{{ url or domain or '' }}</i>
             {% end %}
             <br>
        {% end %}
        <br>
    {% end %}
    {% if handler.get_argument('q', None) and not search_results %}
    <p><em>No search results.</em></p>
    {% end %}
    <br>
    <a href="{{ reverse_url('items') }}">Items</a><br>
    <a href="{{ reverse_url('jobs', '') }}">Jobs</a><br>
    <a href="{{ reverse_url('domains', '') }}">Domains</a><br>
    <a href="{{ reverse_url('audit') }}">Audit</a><br>
    <a href="{{ reverse_url('costs') }}">Costs</a><br>
    <a href="{{ reverse_url('stats') }}">Stats</a><br>
{% end %}
