{% extends 'base.html' %}
{% block title %} Job {% end %}

{% block body %}
    <p>{{ url or ''}}</p>

    <table>
        <tr>
           <th>Filename</th>
           <th>Size</th>
           <th>IA Identifier</th>
        </tr>
        {% for ia_item_id, filename, size in sorted(rows) %}
            <tr>
                <td>{{ filename }}</td>
                <td>{{ size }}</td>
                <td>
                    <a href="{{ reverse_url('item', ia_item_id) }}">
                    {{ ia_item_id }}
                    </a>
                </td>
            </tr>
        {% end %}
    </table>
{% end %}
