{% extends 'base.html' %}
{% block title %} Stats {% end %}

{% block body %}
<noscript>JavaScript needed for visualization.</noscript>

<div id="dashboard">
<div id="chart_daily" style="width: 95vw; height: 20em;"></div>
<div id="dashboard_control" style="text-align:center;"></div>
<div id="chart_daily_cumulative" style="width: 95vw; height: 20em;"></div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
function getData() {
    {% set total = 0 %}
    var data = google.visualization.arrayToDataTable([
        ['Day', 'Size (mebibytes)', 'Size (mebibytes)'],
    {% for date, size in daily_stats %}
        {% set total+= size %}
        [
            new Date({{ date.year }}, {{ date.month - 1 }}, {{ date.day }}),
            {{ size / 1024 ** 2 }},
            {{ total / 1024 ** 2 }}
        ],
    {% end %}
    ]);
    return data;
}

function getChartDaily() {
    var options = {
        title: 'WARC File Size Per Day',
        // curveType: 'function',
        explorer: {},
        trendlines: {
            0: {
                type: 'polynomial',
                degree: 3,
                color: 'green',
                lineWidth: 3,
                opacity: 0.3,
                showR2: true,
                visibleInLegend: true
            }
        }
    };
    var chart = new google.visualization.ChartWrapper({
        chartType: 'ColumnChart',
        containerId: 'chart_daily',
        options: options,
        view: {columns: [0, 1]},
    });

    return chart;
}

function getChartDailyCumulative(data) {
    var options = {
        title: 'Cumulative WARC File Size Per Day',
        // curveType: 'function',
        explorer: {},
        trendlines: {
            0: {
                type: 'polynomial',
                degree: 3,
                color: 'green',
                lineWidth: 3,
                opacity: 0.3,
                showR2: true,
                visibleInLegend: true
            }
        }
    };
    var chart = new google.visualization.ChartWrapper({
        chartType: 'LineChart',
        containerId: 'chart_daily_cumulative',
        options: options,
        view: {columns: [0, 2]},
    });

    return chart;
}

function drawCharts() {
    var data = getData();
    var chart1 = getChartDaily();
    var chart2 = getChartDailyCumulative();

    var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));
    var filter = new google.visualization.ControlWrapper({
        controlType: 'DateRangeFilter',
        containerId: 'dashboard_control',
        options: {
            filterColumnIndex: 0
        }
    });

    dashboard.bind(filter, chart1);
    dashboard.bind(filter, chart2);
    dashboard.draw(data);
}

google.load("visualization", "1", {packages:["controls"]});
google.setOnLoadCallback(drawCharts);
</script>
{% end %}
