git+https://github.com/ArchiveTeam/seesaw-kit.git@f55422c9046b4b16454161e5f81ab320ad9cd9a3#egg=seesaw
psutil
pykka
pyyaml
git+https://github.com/andymccurdy/redis-py.git@f96e46b971a5bb66ab5f94ba87ab3e092e5f01ac#egg=redis
wpull>=0.33.1
sqlalchemy
hiredis
requests
