html {
  font-family: 'FreeSans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #ccc;
}

.terminal {
  font-family: 'Inconsolata', 'Consolas', 'Monaco', monospace;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1 {
  font-size: 120%;
  margin-bottom: 1em;
}

.job {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #222;
}

/* CSS3, or "Fuck You, Everyone Uses CSS Preprocessors Anyway" */
.job.finished {
  transition:All 0.5s linear;
  -webkit-transition:All 0.5s linear;
  -moz-transition:All 0.5s linear;
  -o-transition:All 0.5s linear;
  transform: scale(0.1, 1);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transition-delay: 10s;
  -webkit-transition-delay: 10s;
  -moz-transition-delay: 10s;
  -o-transition-delay: 10s;
  -ms-transition-delay: 10s;
  opacity: 0;
}

.job h1 {
  margin-bottom: 0.25em;
}

.job h1.url {
  float: left;
}

.job h1.ident {
  float: right;
}

.job .success-bar {
  width: 100%;
  height: 1em;
  overflow: hidden;
  clear: both;
}

.success-bar .proportion {
  height: 100%;
  float: left;
}

.success-bar .ok {
  background-color: hsl(120, 100%, 25%);
}

.success-bar .error {
  background-color: hsl(0, 100%, 25%);
}

.job section.terminal {
  width: 100%;
  background-color: #111;
  height: 16em;
  font-size: 0.75em;
  margin-bottom: 1em;
  overflow-y: auto;
}

.terminal ol {
  margin-top: 0;
}

.job .downloaded {
  margin-right: 1em;
}

.job .auto-scroll {
  float: right;
}

.log-view .aborted {
  background-color: hsl(0, 100%, 25%);
  color: hsl(0, 100%, 75%);
  text-transform: uppercase;
}

.log-view .completed {
  background-color: hsl(120, 100%, 25%);
  color: hsl(120, 100%, 75%);
  text-transform: uppercase;
}

/* vim: set ts=2 sw=2 et tw=78: */
