html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #333;
  color: #ccc;
}

.terminal {
  font-family: 'Source Code Pro', 'Inconsolata', 'Consolas', 'Monaco', monospace;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1 {
  font-size: 120%;
  margin-bottom: 1em;
}

.job {
  width: 100%;
}

.dashboard-job-list .job {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #222;
}

/* CSS3, or "Fuck You, Everyone Uses CSS Preprocessors Anyway" */
.job.finished {
  transition:All 0.25s linear;
  -webkit-transition:All 0.25s linear;
  -moz-transition:All 0.25s linear;
  -o-transition:All 0.25s linear;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transition-delay: 10s;
  -webkit-transition-delay: 10s;
  -moz-transition-delay: 10s;
  -o-transition-delay: 10s;
  -ms-transition-delay: 10s;
  opacity: 0;
}

.job h1 {
  margin-bottom: 0.25em;
}

.job header {
  clear: both;
}

.job h1.url {
  float: left;
}

.job h1.url a {
  color: hsl(240, 100%, 75%);
}

.job h1.url a.history {
  text-transform: lowercase;
}

.job h1.url a.history:before {
  content: '[';
}

.job h1.url a.history:after {
  content: ']';
}

.job h1.ident, .job h1.count {
  float: right;
}

.job .proportion-view {
  width: 100%;
  height: 1em;
  overflow: hidden;
}

.proportion-view .proportion {
  height: 100%;
  float: left;
}

.proportion-view .ok {
  background-color: hsl(120, 100%, 25%);
}

.proportion-view .warning {
  background-color: hsl(60, 100%, 25%);
}

.proportion-view .error {
  background-color: hsl(0, 100%, 25%);
}

.job section.terminal {
  width: 100%;
  background-color: #111;
  height: 16em;
  font-size: 0.75em;
  margin-bottom: 1em;
  overflow-y: auto;
}

.terminal ol {
  margin-top: 0;
}

.job .downloaded {
  margin-right: 1em;
}

.job .auto-scroll {
  float: right;
}

.log-view .warning {
  background-color: hsl(60, 100%, 15%);
  color: hsl(60, 100%, 50%);
}

.log-view .aborted {
  background-color: hsl(0, 100%, 25%);
  color: hsl(0, 100%, 75%);
  text-transform: uppercase;
}

.log-view .completed {
  background-color: hsl(120, 100%, 25%);
  color: hsl(120, 100%, 75%);
  text-transform: uppercase;
}

section.history {
  clear: both;
  padding-top: 1em;
}

section.history table {
  width: 100%;
}

section.history th {
  text-align: left;
  font-variant: small-caps;
}

section.history th, section.history td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 1em;
}

section.history tr.completed {
  background-color: hsl(120, 100%, 10%);
  border-bottom: 1px solid hsl(120, 100%, 15%);
}

section.history tr.completed a {
  color: hsl(120, 100%, 35%);
}

section.history tr.aborted {
  background-color: hsl(0, 100%, 10%);
  border-bottom: 1px solid hsl(0, 100%, 15%);
}

/* vim: set ts=2 sw=2 et tw=78: */
