{% extends "base.html" %}
{% block title %} Domain {{ domain }} {% endblock %}

{% block body %}
    <h2>Domain {{ domain }}</h2>

    <table>
        <tr>
            <th>Job Identifier</th>
            <th>URL</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>
                    <a href="{{ link_prefix }}job/{{ row.job_id|urlencode }}">
                    {{ row.job_id }}
                    </a>
                </td>
                <td>{{ row.url }}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
